.logo-text {
  margin: 0.2rem;
  margin-left: 2.4rem;
}

.container {
  position: absolute;
  overflow-y: scroll;
}
.section-wrapper {
  min-height: 100%;
  padding: 2rem;
}
.section-title {
  margin-bottom: 2rem;
}

.right-container {
  margin-top: 3rem;
}
.accent-line {
  border-bottom: 0.2rem solid hsl(var(--clr-deep-sapphire));
  width: 7rem;
}

.about-column {
  margin-top: 2rem;
}
.project {
  margin: 0 0 3rem 20%;
}
.project-flipped {
  margin: 0 10% 3rem 0;
}
.project-img {
  width: 767px;
  margin-bottom: 1rem;
}
.project-summary {
  display: none;
}
.skill-card {
  padding: 1rem;
  background: hsl(var(--clr-egg-shell));
  text-align: center;
  flex: 1 0 auto;
}

.contact-section {
  width: 100%;
}

/*todo responsiveness 780px breakpoint*/
@media only screen and (min-width: 768px) {
  .container {
    inset: 2.4rem;
  }
  .right-container {
    max-width: 50%;
    margin-left: 3rem;
  }
  .about-column {
    column-count: 2;
    margin-top: 2rem;
  }
  .project {
    margin-left: 40%;
    margin-bottom: 5rem;
  }
  .project-flipped {
    margin-right: 40%;
    margin-bottom: 5rem;
  }
  .project-img {
    margin-bottom: 3rem;
  }
  .project-summary {
    display: block;
  }
  .skill-card {
    padding: 2rem;
  }
  /* Custom scrollbars */
  .container::-webkit-scrollbar {
    width: 0.5em;
  }
  .container::-webkit-scrollbar-thumb {
    background-color: hsl(var(--clr-deep-sapphire));
  }
}
