.logo-text {
  margin: 0.2rem;
  margin-left: 2.4rem;
}

.container {
  position: absolute;
  inset: 2.4rem;
  overflow-y: scroll;
}
.section-wrapper {
  min-height: 100%;
  padding: 2rem;
}
.section-title {
  margin-bottom: 2rem;
}

.hero-text {
  max-width: 50%;
  margin-left: 3rem;
}
.accent-line {
  border-bottom: 0.2rem solid hsl(var(--clr-deep-sapphire));
  width: 7rem;
}

.about-column {
  column-count: 2;
  margin-top: 2rem;
}
.projects-callout {
  max-width: 50%;
}
.project-cards {
  position: relative;
}
.project-card {
  position: relative;
  top: 1rem;
  right: 11rem;
  width: 20rem;
  background-color: hsl(var(--clr-egg-shell));
  border: solid 1px hsl(0, 0%, 50%);
  text-align: center;
  padding: 2rem;
  height: 27rem;
}

.project-card-one {
  z-index: 3;
}
.project-card-two {
  transform: rotate(349deg);
  z-index: 2;
}
.project-card-three {
  transform: rotate(8deg);
  z-index: 1;
}
